{% extends 'layout.html' %}

{% block main_content %}
{% if current_user.is_anonymous %}
<p>You are not logged in, so you can't add a new kingdom. Try <a href="/login/">logging in first</a></p>
{% else %}
<h1>Add Kingdom</h1>
<form method="POST" action="/kingdoms/add/">
  <div class="row">
    <div class="six columns">
      <label for="name">Kingdom Name</label>
      <input id="name" type="text" name="name" placeholder="My kingdom" autofocus></input>
    </div>
    <div class="six columns">
      <label for="name">Colonies</label>
      <input type="checkbox" name="has_colony" value="1"></input>
      <label for="name">Platinum</label>
      <input type="checkbox" name="has_platinum" value="1"></input>
      <label for="name">Shelters</label>
      <input type="checkbox" name="has_shelters" value="1"></input>
    </div>
  </div>

  <h2>Base Cards</h2>
  {% for i in range(10) %}
  <div class="card-group" style="display: inline-block">
    <img id="card{{i}}img" src="/static/cards/card_back.jpg" width="150"/>
    <br>
    <input id="card{{i}}" type="text" name="card-{{i}}" list="basecards" placeholder="Start typing..." onchange="onSelectCard(event)"></input>
  </div>
  {% endfor %}

  <datalist id="basecards">
    {% for card in cards %}
      {% if not card.type in ["event"] %}
        <option value="{{ card.name }}">{{ card.name }}</option>
      {% endif %}
    {% endfor %}
  </datalist>

  <h2>Extra Cards</h2>
  {% for i in range(3) %}
  <div class="card-group" style="display: inline-block">
    <img id="extra{{i}}img" src="/static/cards/card_back.jpg" width="150"/>
    <br>
    <input id="extra{{i}}" type="text" name="extra-{{i}}" list="basecards" placeholder="Start typing..." onchange="onSelectCard(event)"></input>
  </div>
  {% endfor %}

  <h2>Events</h2>
  {% for i in range(3) %}
  <div class="card-group" style="display: inline-block">
    <img id="event{{i}}img" src="/static/cards/card_back.jpg" width="150"/>
    <br>
    <input id="event{{i}}" type="text" name="event-{{i}}" list="events" placeholder="Start typing..." onchange="onSelectCard(event)"></input>
  </div>
  {% endfor %}

  <datalist id="events">
    {% for card in cards %}
      {% if 'event' in card.types %}
        <option value="{{ card.name }}">{{ card.name }}</option>
      {% endif %}
    {% endfor %}
  </datalist>

  <h2>Landmarks</h2>
  {% for i in range(3) %}
  <div class="card-group" style="display: inline-block">
    <img id="landmark{{i}}img" src="/static/cards/card_back.jpg" width="150"/>
    <br>
    <input id="landmark{{i}}" type="text" name="landmark-{{i}}" list="landmarks" placeholder="Start typing..." onchange="onSelectCard(event)"></input>
  </div>
  {% endfor %}

  <datalist id="landmarks">
    {% for card in cards %}
      {% if 'landmark' in card.types %}
        <option value="{{ card.name }}">{{ card.name }}</option>
      {% endif %}
    {% endfor %}
  </datalist>

  <div class="row">
    <input type="submit" value="Create Kingdom"></input>
  </div>
</form>
{% endif %}
{% endblock %}

