{% extends 'layout.html' %}

{% block main_content %}
<h1>Add Kingdom</h1>
<form method="POST" action="/kingdoms/add/">
  <div class="row">
    <div class="six columns">
      <label for="name">Kingdom Name</label>
      <input id="name" type="text" name="name" placeholder="My kingdom"></input>
    </div>
  </div>

  <h2>Base Cards</h2>
  {% for i in range(12) %}
  <div class="card-group" style="display: inline-block">
    <img id="card{{i}}img" src="/static/cards/card_back.jpg" width="150"/>
    <br>
    <input id="card{{i}}" type="text" name="card-{{i}}" list="basecards" placeholder="Start typing..." onchange="onSelectCard(event)"></input>
  </div>
  {% endfor %}

  <datalist id="basecards">
    {% for card in cards %}
      {% if not card.type in ["event"] %}
        <option value="{{ card.name }}">{{ card.name }}</option>
      {% endif %}
    {% endfor %}
  </datalist>

  <h2>Events</h2>
  {% for i in range(3) %}
  <div class="card-group" style="display: inline-block">
    <img id="event{{i}}img" src="/static/cards/card_back.jpg" width="150"/>
    <br>
    <input id="event{{i}}" type="text" name="event-{{i}}" list="events" placeholder="Start typing..." onchange="onSelectCard(event)"></input>
  </div>
  {% endfor %}

  <datalist id="events">
    {% for card in cards %}
      {% if card.type in ["event"] %}
        <option value="{{ card.name }}">{{ card.name }}</option>
      {% endif %}
    {% endfor %}
  </datalist>

  <h2>Landmarks</h2>
  {% for i in range(3) %}
  <div class="card-group" style="display: inline-block">
    <img id="landmark{{i}}img" src="/static/cards/card_back.jpg" width="150"/>
    <br>
    <input id="landmark{{i}}" type="text" name="landmark-{{i}}" list="landmarks" placeholder="Start typing..." onchange="onSelectCard(event)"></input>
  </div>
  {% endfor %}

  <datalist id="landmarks">
    {% for card in cards %}
      {% if card.type in ["landmark"] %}
        <option value="{{ card.name }}">{{ card.name }}</option>
      {% endif %}
    {% endfor %}
  </datalist>

  <div class="row">
    <input type="submit" value="Create Kingdom"></input>
  </div>
</form>
{% endblock %}

