{% extends 'layout.html' %}
{% block main_content %}
<h1>{{ kingdom.name }}</h1>
<ul class="kingdom-summary">
  <li>Creator: {{ kingdom.creator }}</li>
  <li>Created: {{ kingdom.created.strftime("%A %d %B %Y") }}</li>
  <li>Sets:
    {% for set in kingdom.sets %}
      <span class="set {{ set }}">{{ set }}</span>
    {% endfor %}
  </li>
  <li>Card Types:
    {% for card_type in kingdom.card_types() %}
      <span class="card-type {{ card_type }}">{{ card_type }}</span>
    {% endfor %}
  </li>
  <li>Average Rating: {{ kingdom.rating_average }}</li>
  <li>My Rating:
    <span class="star-rating">
      <input type="radio" name="rating" value="1" {% if kingdom.rating_mine == 1 %}checked="checked"{% endif %}><i></i>
      <input type="radio" name="rating" value="2" {% if kingdom.rating_mine == 2 %}checked="checked"{% endif %}><i></i>
      <input type="radio" name="rating" value="3" {% if kingdom.rating_mine == 3 %}checked="checked"{% endif %}><i></i>
      <input type="radio" name="rating" value="4" {% if kingdom.rating_mine == 4 %}checked="checked"{% endif %}><i></i>
      <input type="radio" name="rating" value="5" {% if kingdom.rating_mine == 5 %}checked="checked"{% endif %}><i></i>
    </span>
  </li>
</ul>
<h2>Cards</h2>
<table>
  {% for cost, cards in kingdom.cards_by_cost_in_treasure().items() %}
  <tr>
    {% for card in cards %}
      <td><img src="/static/cards/{{card.name}}.jpg" width="200"></img></td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
<h2>Play Logs</h2>
{% for play_log in kingdom.play_logs %}
  <h3>Rating: {{ play_log.rating }}</h3> 
  <h3>{{ play_log.created.strftime("%A %d %B %Y") }} - {{ play_log.player_count }} Players - {{ play_log.creator }}</h3>
  {% if play_log.comments %}
    <p>{{ play_log.comments }}</p>
  {% else %}
    <p><i>No comments</i></p>
  {% endif %}
{% endfor %}
<h2>Log a play</h2>
<p>If you've played this kingdom please tell us a bit about your experience for other players</p>
<form id="play-form" method="POST" action="/kingdom/{{ kingdom.uuid }}/play-log/">
  <label for="player_count">Number of Players</label>
  <input type="number" value="2" name="player_count" min="2" max="6"></input>
  <label for="rating">My rating for this game</label>
  <span class="star-rating">
    <input type="radio" name="rating" value="1"><i></i>
    <input type="radio" name="rating" value="2"><i></i>
    <input type="radio" name="rating" value="3" checked="checked"><i></i>
    <input type="radio" name="rating" value="4"><i></i>
    <input type="radio" name="rating" value="5"><i></i>
  </span>
  <label for="comments">Comments on the game</label>
  <textarea maxlength="2000" name="comments" placeholder="One one decent strategy, great for many players, too much trashing, etc" rows="8" cols="100"></textarea>
  <input type="submit" value="I Played This!"></input>
</form>
{% endblock %}
