{% extends 'layout.html' %}
{% block main_content %}
<h1>{{ kingdom.name }}</h1>
<ul class="kingdom-summary">
  <li>Creator: {{ kingdom.creator }}</li>
  <li>Created: {{ kingdom.created.strftime("%A %d %B %Y") }}</li>
  <li>Sets: {% for set in kingdom.sets %}{{ set }}{% if not loop.last %}, {% endif %}{% endfor %}</li>
  <li>Card Types:
    {% for card_type in kingdom.card_types() %}
      <span class="card-type {{ card_type }}">{{ card_type }}</span>{% if not loop.last %}, {% endif %}
    {% endfor %}
  </li>
  <li>Average Rating: {{ kingdom.rating_average }}</li>
  <li>My Rating:
    <span class="star-rating">
      <input type="radio" name="rating" value="1" {% if kingdom.rating_mine == 1 %}checked="checked"{% endif %}><i></i>
      <input type="radio" name="rating" value="2" {% if kingdom.rating_mine == 2 %}checked="checked"{% endif %}><i></i>
      <input type="radio" name="rating" value="3" {% if kingdom.rating_mine == 3 %}checked="checked"{% endif %}><i></i>
      <input type="radio" name="rating" value="4" {% if kingdom.rating_mine == 4 %}checked="checked"{% endif %}><i></i>
      <input type="radio" name="rating" value="5" {% if kingdom.rating_mine == 5 %}checked="checked"{% endif %}><i></i>
    </span>
  </li>
</ul>
<h2>Cards</h2>
<table>
  {% for cost, cards in kingdom.cards_by_cost_in_treasure().items() %}
  <tr>
    {% for card in cards %}
      <td><img src="/static/cards/{{card.name}}.jpg" width="100"></img></td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
<form id="rating-form" method="POST" action="/kingdom/{{ kingdom.uuid }}/rating/">
  <input type="hidden" name="rating" min="1" max="5" value="0"></input>
  <input type="submit" value="Rate"></input>
</form>
{% endblock %}
