{% extends 'layout.html' %}
{% block javascript %}
{% endblock %}

{% block main_content %}
<h1>{{ kingdom.name }}</h1>
<ul>
  <li>Creator: {{ kingdom.creator }}</li>
  <li>Created: {{ kingdom.created.strftime("%A %d %B %Y") }}</li>
  <li>Sets: {% for set in kingdom.sets %}{{ set }}{% if not loop.last %}, {% endif %}{% endfor %}</li>
  <li>Card Types: {% for card_type in kingdom.card_types() %}{{ card_type }}{% if not loop.last %}, {% endif %}{% endfor %}</li>
</ul>
<h2>Cost histogram</h2>
<table>
  {% for cost, cards in kingdom.cards_by_cost_in_treasure().items() %}
  <tr>
    {% for card in cards %}
      <td><img src="/static/cards/{{card.name}}.jpg" width="100"></img></td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endblock %}
