{% extends 'layout.html' %}
{% block main_content %}
<p>Welcome to What Kingdom Today. It's a pretty simple site. You want to play Dominion. We want you to play Dominion. But we want it to be interesting. If you pick random cards, let's be honest, your game will be less than ideal. We want you to have the best game every time. So, tell us about the sets you have and how many players you want to play and we'll give you a list of games that you're likely to enjoy</p>
<p>This whole system is powered by crowdsourcing. You tell us about the games you play and what you liked about them and didn't like about them and the system gets better for everyone. Registration is free and we only use it so other players can start to trust your reputation for good games</p>
{% endblock %}
